<!DOCTYPE html>
<html>
  <head>
     <title>Node ejs test</title>
  </head>

  <body>
          <div style="display:block; width:50%; margin:0 auto;">

              
              <article>
              <h1>Usando EJS con Express en node.js</h1>
              <p>
                <%= message %>
              </p>
              </article>


          </div>
  </body>
</html>