        <% layout('layout') -%>
              <article>
              <h1>Usando EJS con Express en node.js</h1>
              <p>
                <%= message %>
              </p>
              </article>