 <% layout('layout') -%>
 <h3>Login</h3>
              

                <form action="login" method="post">
                  <label>
                      User
                      <input type="text" name="username"/>
                  </label>
                  <br />
                  <label>
                      Password
                      <input type="password" name="password"/>
                  </label>
                </form>   

              <% if(errorMsg) { %>
                <span style="color red; padding:1em; border:1px solid:red; background: #ccc; width:100%; font-size:13px;">
                  <%= errorMsg %> <br />
                  <%= username %> <br />
                  <%= password %> <br />
                </span>     
                <% } <%>                
