 <% layout('layout') -%>
 <h3>Login</h3>
              

                <form action="user-login" method="post">
                  <label>
                      User
                      <input type="text" name="username"/>
                  </label>
                  <br />
                  <label>
                      Password
                      <input type="password" name="password"/>
                  </label>
                  <button>Iniciar sesión</button>
                </form>   

         
             
                           
