
 <% layout('layout') -%>
          
                <span style="color red; padding:1em; border:1px solid:red; background: #ccc; width:100%; font-size:13px; display:block">
                 Error:  <%= errorMsg %> <br />
                  Usuario: <%= username %> <br />
                  password: <%= password %> <br />
                </span>     
          